.control-icon .notification-list .notification-event{
	width: 88% !important;
}

.notification_li{
	padding: 10px 15px !important;
}

.notification-list a{
	color: #6C6C6C !important;
}

.notification-list a:hover{
	color: #ff5e3a !important;
}

.author-thumb img{
	height: 100% !important;
}

.more-dropdown a{
	font-weight: normal !important;
	font-size: 14px !important;
}

.td{
	font-size: 23px !important;
	vertical-align: middle !important;
	font-family: Calibri !important;
	font-weight: lighter !important;
}

textarea{
	min-height: auto !important;
}

.message_box{
	height: 385px;
	overflow-y: scroll;
}

.chat-users li{
    padding: 13px 13px !important;
}

.right-sidebar-img{
    height: 45px !important;
    width: 45px !important;
}

.birthday-item.badges .skills-item {
    font-size: 15px !important;
    min-width: 220px !important;
    display: block !important;
    float: right !important;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.unread_notification{
	background-color: #ff5e3a !important;
	color: #fff !important;
}

.unread_notification .author-name{
	background-color: #ff5e3a !important;
	color: #fff !important;
}